/.DS_Store
CSharp/.DS_Store
CSharp/leetcode/.DS_Store
bin/
obj/
TestResults/
packages/
.vs/
*.userprefs
Csharp/Leetcode/Program.cs
/Java/Leetcode/target/
/Java/Leetcode/nbproject/
Java/Leetcode/src/main/java/com/mycompany/leetcode/Application.java
Python/.vscode
